.duoOverview{
    background-image: url('../assets/sample5.jpg');
    background-size:cover;
    height:110vh;
      color: white;
  background-repeat: no-repeat;
  position: relative;
}
.duoOverview::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the alpha value for darkness */
}

.container {
  position: relative; /* Ensure z-index works */
  z-index: 1; /* Place above the pseudo-element */
}
.sec-400{
  height:400px;
}
.sec-768{
  height:768px;
}
@media (max-width: 767px) {
  .duoOverview {
    height: auto; /* or set a different height for small screens */
background-size: cover;
    /* or other appropriate size */
  }
}