.tofelOverview{
    background-image: url('../assets/sample4.jpg');
    background-size: cover;
      color: white;
  background-repeat: no-repeat;
  height:100vh;
   position: relative
}
.tofelOverview::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the alpha value for darkness */
}

.container {
  position: relative; /* Ensure z-index works */
  z-index: 1; /* Place above the pseudo-element */
}

@media (max-width: 767px) {
  .tofelOverview {
    height: auto; /* or set a different height for small screens */
    background-size: cover; /* or other appropriate size */
  }
}

